/* Center the container in the viewport */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;      /* Full viewport height */
  width: 100vw;       /* Full viewport width */
}

/* Custom checkbox styling */
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 18px;
}

/* Hide native checkbox */
.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Custom checkbox box */
.custom-checkbox span {
  height: 20px;
  width: 20px;
  border: 2px solid #ccc;
  background-color: transparent;
  border-radius: 4px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

/* Checked state */
.custom-checkbox input[type="checkbox"]:checked + span {
  background-color: green;
  border-color: green;
}

/* Checkmark */
.custom-checkbox span::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Show checkmark when checked */
.custom-checkbox input[type="checkbox"]:checked + span::after {
  display: block;
}

.add-user-btn {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 40px;
  background-color: #4caf50;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.add-user-btn:hover {
  background-color: #388e3c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.add-user-btn:focus {
  outline: none;
}

.no-wrap-text {
  white-space: nowrap;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* adjust height based on your layout */
}


/* .export-btn {
  background-color: white !important;
  border: none !important;
  box-shadow: none !important;
}

.export-btn:hover {
  background-color: white !important;
}

.export-btn.mat-raised-button.mat-primary {
  color: inherit;
} */