mat-checkbox {
    cursor: pointer;
    z-index: 10;
    position: relative;
}

mat-checkbox * {
    pointer-events: auto !important;
}


.mat-checkbox:hover .mat-checkbox-frame {
    background-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.mat-checkbox:hover {
    background-color: transparent !important;
    border-radius: 0 !important;
}

.custom-dialog-container .mat-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  overflow: hidden;
  padding: 0;
  border-radius: 8px;
}

.custom-dialog-container .mat-dialog-content {
  overflow-y: auto;
  padding: 24px;
}
