<div class="  for-margin">
  <h4 class="fw-bold">Test List</h4>

  <div class="d-flex align-items-center justify-content-between">
    <div class="w-100">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput (input)="applyFilter($event)" />
      </mat-form-field>
    </div>

    <!-- <div class="ms-auto">
      <button mat-raised-button color="primary" class="me-2 mb-4" style="border: none; background-color: white" matTooltip="Export to Excel">
        <i
          class="fas fa-file-excel me-2"
          style="font-size: 28px; margin-bottom: 15px"
        ></i>
      </button>
    </div> -->

    <div class="ms-auto">
      <button  class="me-2 mb-4 export-btn"
        style="border: none; background-color: white;" matTooltip="Export to Excel">
        <i class="fas fa-file-excel me-2" style="font-size: 28px; margin-bottom: 15px;" (click)="export()"></i>
      </button>
    </div>

    <div>
    <button *ngIf="canAddTest" class="mr-3 add-user-btn me-4 w-100 no-wrap-text" (click)="goToAddPage()">
      <i class="fas fa-plus me-2"></i> Add New Test
    </button>
    </div>
  </div>

  <div *ngIf="loading" class="spinner-container">
  <!-- <mat-spinner></mat-spinner>Loading... -->
     <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>Loading...
  </div>
  
<div *ngIf="!loading">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="styled-table table table-bordered table-striped table-hover mat-elevation-z8"
  >
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Recipe Name</th>
      <td mat-cell *matCellDef="let element">{{ element.recipeName }}</td>
    </ng-container>

    <ng-container matColumnDef="recipeNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Recipe Number</th>
      <td mat-cell *matCellDef="let element">{{ element.recipeNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="mainPolymer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Main Polymer</th>
      <td mat-cell *matCellDef="let element">{{ element.mainPolymerName }}</td>
    </ng-container>

    <ng-container matColumnDef="mechanical">
      <th mat-header-cell *matHeaderCellDef>Mechanical Properties</th>
      <td mat-cell *matCellDef="let element">
        <label class="custom-checkbox">
          <input
            type="checkbox"
            disabled
            [checked]="element.mechanicalProperty"
          />
          <span></span>
        </label>
      </td>
    </ng-container>

    <ng-container matColumnDef="general">
      <th mat-header-cell *matHeaderCellDef>General Properties</th>
      <td mat-cell *matCellDef="let element">
        <label class="custom-checkbox">
          <input
            type="checkbox"
            disabled
            [checked]="element.generalProperties"
          />
          <span></span>
        </label>
      </td>
    </ng-container>

    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef>Temperature Properties</th>
      <td mat-cell *matCellDef="let element">
        <label class="custom-checkbox">
          <input
            type="checkbox"
            disabled
            [checked]="element.temperatureProperties"
          />
          <span></span>
        </label>
      </td>
    </ng-container>

    <ng-container matColumnDef="flammability">
      <th mat-header-cell *matHeaderCellDef>Flammability Properties</th>
      <td mat-cell *matCellDef="let element">
        <label class="custom-checkbox">
          <input
            type="checkbox"
            disabled
            [checked]="element.flammabilityProperties"
          />
          <span></span>
        </label>
      </td>
    </ng-container>

    <ng-container matColumnDef="electrical">
      <th mat-header-cell *matHeaderCellDef>Electrical Properties</th>
      <td mat-cell *matCellDef="let element">
        <label class="custom-checkbox">
      <input type="checkbox" disabled [checked]="element.electricalProperties" />
      <span></span>
    </label>
      </td>
    </ng-container>

    <ng-container matColumnDef="properties">
      <th mat-header-cell *matHeaderCellDef>Properties</th>
      <td mat-cell *matCellDef="let element">
        <label class="custom-checkbox">
      <input type="checkbox" disabled [checked]="element.property" />
      <span></span>
    </label>
      </td>
    </ng-container>

    <ng-container *ngIf="canEditTest || canDeleteTest" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <i *ngIf="canEditTest"
        class="fas fa-pencil-alt me-2"
        (click)="editTest(element)"
        matTooltip="Edit"
        ></i>
        <i *ngIf="canDeleteTest"
        class="fas fa-trash-alt"
        (click)="deleteTest(element.testId)"
        matTooltip="Delete"
        ></i>
        <!-- <i></i> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  </div>

  <mat-paginator 
  [length]="dataSource.data.length"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25]" 
  showFirstLastButtons>
</mat-paginator>
</div>
