h4 {
    font-weight: 600;
  }
    
  mat-form-field {
    width: 25%;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    border-collapse: collapse; 
    /* table-layout: fixed; */
  }
  
  .mat-header-cell {
    font-weight: bold;
    background-color: #f8f9fa;
    color: #343a40;
    border: 1px solid #ddd; 
  }
  
  .mat-cell, .mat-header-cell {
    padding: 16px;
    font-size: 14px;
    border: 1px solid #ddd; 
  }
  
  .mat-row:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
  }
  
  .mat-row, .mat-header-row {
    display: table-row;
  }
  
  .add-material-btn {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    margin-bottom: 40px;
  
    background-color: #4caf50; /* Blue */
    color: white;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .add-material-btn:hover {
    background-color: #388e3c; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #fff;
  }
