h4 {
    font-weight: 600;
  }
    
  mat-form-field {
    width: 25%;
    margin-bottom: 17px;
  }
  
  table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    border-collapse: collapse; 
    /* table-layout: fixed; */
  }

  button.me-5.add-material-btn.w-100.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-unthemed.mat-mdc-button-base {
    background: green !important;
    color: #fff !important;
    border: none !important;
    border-radius: 0px !important;
}
  
  .mat-header-cell {
    font-weight: bold;
    background-color: #f8f9fa;
    color: #343a40;
    border: 1px solid #ddd; 
  }
  
  .mat-cell, .mat-header-cell {
    padding: 16px;
    font-size: 14px;
    border: 1px solid #ddd; 
  }
  
  .mat-row:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
  }
  
  .mat-row, .mat-header-row {
    display: table-row;
  }
  
 
