textarea[matInput] {
    min-height: 120px; /* You can adjust this value */
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adds spacing between fields */
    margin-bottom: 16px; /* Space between rows */
  }
  
  .half-width {
    flex: 1 1 calc(50% - 8px); /* 50% minus half the gap */
  }
  
  .full-width {
    flex: 1 1 100%;
  }
  .top-right-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  .global-hint {
    font-weight: bold;
    color: #ab2a2a;
    font-size: 13px;
    display: block;
    /* margin-bottom: 12px; */
    padding-left: 3%;
  }
 