<h2 mat-dialog-title>Update Project</h2>

<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Project Name</mat-label>
        <input matInput formControlName="projectName" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Project Type</mat-label>
        <mat-select formControlName="projectType">
          <mat-option *ngFor="let type of projectTypes" [value]="type.value">
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Area</mat-label>
        <mat-select formControlName="area">
          <mat-option *ngFor="let area of areas" [value]="area.value">
            {{ area.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option *ngFor="let priority of priorities" [value]="priority.value">
            {{ priority.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div class="row">
      <mat-form-field appearance="outline" class="full-width">
      <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let s of status" [value]="s.value">
            {{ s.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div> -->
<div class="row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Project Description</mat-label>
      <textarea matInput formControlName="project_Description"></textarea>
    </mat-form-field>
</div>

    <div class="row">
        <mat-form-field appearance="outline" class="half-width">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startPicker" formControlName="startDate" />
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endPicker" formControlName="endDate" />
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Update</button>
  </mat-dialog-actions>

</form>
