.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    font-size: 14px;
    background-color: #f6f6f6;
    color:black;
    font-weight: 600;
    z-index: 1;
    right: 0;
    /* height: 7vh; */
  }
  