<!-- <button mat-stroked-button color="accent" (click)="goBack()" class="mb-3">
  <i class="fas fa-arrow-left me-2"></i> Back
</button> -->
<div class="container for-margin mb-5">
  <div class="d-flex justify-content-between align-items-center ">
    <h4 class="fw-bold">Project</h4>
  </div>


  <div class="d-flex align-items-center justify-content-between">
    <div class="w-100">
      <mat-form-field appearance="outline" class="search-field" >
        <mat-label>Search by Project Name</mat-label>
        <input matInput (keyup)="applyFilter($event)"  minlength="1">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="onExport()" class="me-5 mb-4"
        style="border: none; background-color: white;" matTooltip="Export to Excel">
        <i class="fas fa-file-excel me-2" style="font-size: 28px;"></i>
      </button>

    </div>
    <div>
      <button *ngIf="canAddProject" mat-raised-button class="me-5 add-material-btn w-100" (click)="openAddProjectDialog()">
        <i class="fas fa-plus me-2"></i> Add Project
      </button>


    </div>
  </div>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" matSort matSortStart="desc" matSortDisableClear="true"
      disableClear="true" class="table table-bordered table-striped table-hover mat-elevation-z8">
      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Area </th>
        <td mat-cell *matCellDef="let element">
          {{element.areas===null? '-':
          element.areas.area
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
        <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
      </ng-container>

      <ng-container matColumnDef="projectNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Number </th>
        <td mat-cell *matCellDef="let element"> {{
          element.projectNumber===null?'-':
          element.projectNumber
          }} </td>
      </ng-container>


      <ng-container matColumnDef="projectType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Project Type </th>
        <td mat-cell *matCellDef="let element">
          {{element.projectTypes===null? '-':
          element.projectTypes.projectTypeName}}
        </td>
      </ng-container>


      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element">

          {{ element.status.status}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Priority </th>
        <td mat-cell *matCellDef="let element">
          {{element. priorities===null?'-':
          element.priorities.priority}}
        </td>
      </ng-container>


      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
        <td mat-cell *matCellDef="let element"> {{
          element.startDate == null ? '-':
          element.startDate | date:'dd-MM-yyyy'
          }} </td>
      </ng-container>


      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
        <td mat-cell *matCellDef="let element"> {{
          element.endDate == null ? '-':
          element.endDate | date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <i *ngIf="canEditProject" class="fas fa-pencil-alt me-3 action-icon" matTooltip="Edit" (click)="editProject(element)"></i>
          <i *ngIf="canDeleteProject" class="fas fa-trash-alt action-icon" matTooltip="Delete" (click)="deleteProject(element.projectId)"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>


  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>