.pdf-download-btn {
  position: relative;
  /* top: 80px; */
  /* left: 300px; */
  /* z-index: 1000; */
  cursor: pointer;


}

.pdf-download-btn::after {
  content: "Download to PDF";
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: #333;
  color: #fff;
  /* padding: 4px 6px; */
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}






.custom-back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background: #dbdbdd;
  color: rgb(5, 3, 3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-back-button:hover {
  background: #4f5052;
  transform: translateX(-2px);
  color: white;
}



.pdf-content {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}




.custom-dark-border th,
.custom-dark-border td {
  border: 1px solid #343a40;
   width: 150px;
}

.custom-dark-border thead th {
  background-color: #f8f9fa; 
  color: #212529;
  /* font-weight: 600; */
}
