.pdf-download-btn {
  position: relative;
  /* top: 80px; */
  /* left: 300px; */
  /* z-index: 1000; */
  cursor: pointer;


}

.pdf-download-btn::after {
  content: "Download to PDF";
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: #333;
  color: #fff;
  /* padding: 4px 6px; */
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}






.custom-back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background: #dbdbdd;
  color: rgb(5, 3, 3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-back-button:hover {
  background: #4f5052;
  transform: translateX(-2px);
  color: white;
}



.pdf-content {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}




.custom-dark-border th,
.custom-dark-border td {
  border: 1px solid #343a40;
   width: 150px;
}

.custom-dark-border thead th {
  background-color: #f8f9fa; 
  color: #212529;
  /* font-weight: 600; */
}


.back-button-container.d-flex.justify-content-end.align-items-center {
    position: absolute;
    right: 0;
    margin-top: 18px;
    gap: 20px;
}


.properties-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 1rem;
  align-items: start;

  p {
    margin: 0.3rem 0;
  }

  .full-width {
    grid-column: span 3;
  }
}

.custom-scope table{
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}

.table.no-borders td,
.table.no-borders th {
  border: none !important;
}
/* .table.no-borders td{ font-size: 13px;} */
/* Hide the default checkbox */
.custom-checkbox {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  /* border-radius: 3px; */
  position: relative;
  cursor: not-allowed;
  background-color: white;
}

/* Checked state: green background with a checkmark */
.custom-checkbox:checked {
  /* background-color: #28a745; /* Bootstrap green */
  /* border-color: #28a745; */ 
}

.custom-checkbox:checked::after {
  content: '✓';
  color: black;
  font-size: 12px;
  position: absolute;
  top: -2px;
  left: 3px;
}

.bcolor{
  font-size: 14px;
  /* font-weight:lighter; */
  color: #000000c0;
}
.mcolor{
  color: #aaabad;
}



.pdf-checkbox {
    display: inline-block;
    width: 15px;
    height: 16px;
    border: 2px solid #888;
    border-radius: 3px;
    text-align: center;
    line-height: 16px;
    font-size: 13px;
    font-weight: bold;
    color: rgb(48, 46, 46);
    margin-right: 6px;
    vertical-align: middle;
  }

  .pdf-checkbox.checked {
    color: rgb(48, 46, 46);
    border: 2px solid #888;
  }
  .mat-like-checkbox{
    font-size: 14px;  color: #000000c0;

font-weight: bold;  }
  

  .page-break td {
    line-height: 10px;
  }

 