/* Remove background and border from stepper headers */
::ng-deep .mat-horizontal-stepper-header {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

/* Remove active tab color (label circle & text) */
::ng-deep .mat-step-header.mat-active .mat-step-icon {
    background-color: transparent !important;
    color: inherit !important;
    border: 1px solid #ccc;
    /* optional: add outline */
}

/* Optional: reset hover or focus states */
::ng-deep .mat-step-header:hover,
::ng-deep .mat-step-header.cdk-program-focused {
    background-color: transparent !important;
}

/* Optional: customize completed state */
::ng-deep .mat-step-header.mat-completed .mat-step-icon {
    background-color: transparent !important;
    color: inherit !important;
}

/* .button-group {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
} */

input.form-control,
input.form-control-sm {
  border: 1px solid #444; 
}

.custom-back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background: #dbdbdd;
  color: rgb(5, 3, 3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-back-button:hover {
  background: #4f5052;
  transform: translateX(-2px);
  color: white;
}

.fixed-width-input {
  width: 150px; /* Adjust the width as needed */
  max-width: 100%;
}
