/* contacts.component.css */

/* Container padding */
.container {
  padding: 24px;
}

/* Page heading */
h4.fw-bold {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Add contact button styling */
.add-contact-btn {
  margin-right: 16px;
  background-color: #3fb545;
  color: white;
}