.container{
    padding: 5%;
}

.btnFix{
    position: sticky;
  bottom: 0;
  background-color: white; 
  z-index: 10;
  padding-top: 8px;
  padding-bottom: 8px;
}

.selectAllChkbox{
  align-items: end;
}