.container{
    padding: 5%;
}

.btnFix{
  position: sticky;
  margin-right: -27px;
  bottom: 0;
  background-color: white; 
  z-index: 10;
  padding-top: 8px;
  padding-bottom: 8px;
}

.selectAllChkbox{
  float: right;
}

.verticalLine{
  border-left: 1px solid;
}

.menuNameList{
  /* background-color: rgb(167, 164, 164); */
  border: 5px solid white;
  width: 25%;
  /* padding: 5px;
  text-align: center; */
}

th{
  text-align: center;
}

table thead tr {
  border-bottom: 1px solid black; /* or any color you prefer */
}

table th, table td {
  padding: 8px;
  vertical-align: middle;
}

th, tr{
  border: 1px solid black;
}

.container {
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent outer scroll */
}

.content-scrollable {
  overflow-y: auto;
  flex: 1;
  padding-right: 8px; /* Prevent clipping content from hidden scrollbar */
}

/* Hide scrollbar but keep scrolling working */

/* Chrome, Safari */
.content-scrollable::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Firefox */
.content-scrollable {
  scrollbar-width: none;
}

/* IE/Edge */
.content-scrollable {
  -ms-overflow-style: none;
}
