<h2 mat-dialog-title>New password</h2>
<mat-dialog-content>
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" novalidate>
<!-- 
     <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>User Id</mat-label>
      <input matInput name="userId" [value]="'PRO'+(newPass.userId.toString().padStart(3, '0'))" disabled />
    </mat-form-field> -->

    <mat-form-field appearance="outline" class="w-100 mb-3">
  <mat-label>Current Password</mat-label>
  <input 
    matInput 
    [type]="showPassword ? 'text' : 'password'" 
    name="oldPassword" 
    [(ngModel)]="newPass.oldPassword" 
    required
    #oldPassword="ngModel"
    (input)="errorMessage = ''"
  />
  <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()" tabindex="-1">
    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>

  <!-- Use mat-error instead of div -->
  <mat-error *ngIf="errorMessage">
    {{ errorMessage }}
  </mat-error>
</mat-form-field>


        <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Change Password</mat-label>
      <input 
        matInput 
        [type]="showPassword ? 'text' : 'password'" 
        name="newPassword" 
        [(ngModel)]="newPass.newPassword"
        #password="ngModel" 
        required 
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9]).{6,}$" />
      <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()" tabindex="-1">
        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid && password.touched">
        <!-- Password must have at least 1 uppercase, 1 lowercase, 1 special character, and be minimum 6 characters long. -->
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Confirm Password</mat-label>
      <input 
        matInput 
        [type]="showConfirmPassword ? 'text' : 'password'" 
        name="confirmPassword"
        [(ngModel)]="newPass.confirmPasswordHash" 
        #confirmPassword="ngModel" 
        required />
      <button mat-icon-button matSuffix type="button" (click)="toggleConfirmPasswordVisibility()" tabindex="-1">
        <mat-icon>{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <div
      *ngIf="(confirmPassword.value !== password.value && confirmPassword.dirty) ||(confirmPassword.invalid && confirmPassword.touched)"
      class="text-danger" style="margin-top: -32px;
    margin-left: 21px; margin-bottom: 16px;">
      <small>Passwords do not match.</small>
    </div>


     <mat-dialog-actions align="end" class="btnFix">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    </mat-dialog-actions>
    </form>
</mat-dialog-content>
