<h2 mat-dialog-title>{{ isEditMode ? 'Update Additive' : 'New Additive' }}</h2>
<form [formGroup]="additiveForm" (ngSubmit)="onSubmit()">
  <mat-hint class="global-hint">All fields marked with an asterisk (*) are required</mat-hint>

  <div mat-dialog-content>
    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Additive Name</mat-label>
        <input
          matInput
          formControlName="additiveName"
          placeholder="Enter additive name"
          required  maxlength="100"
        />
        <!-- <mat-error *ngIf="additiveForm.controls['additiveName'].hasError('required')">
          Additive Name is required
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>
    <div>
  <mat-dialog-actions align="end" class="buttons">
    <button mat-raised-button class="primary" type="submit">
      {{ isEditMode ? 'Update' : 'Save' }}
    </button>
    <button  mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    
  </mat-dialog-actions>
    </div>
</form>
