mat-form-field.mat-form-field-appearance-outline:hover,
mat-input-element:hover,
input:focus,
button:focus {
  outline: none; 
  box-shadow: none; 
}

button:hover {
  background-color: transparent; 
}

mat-checkbox:hover {
  cursor: default; 
}

.btn-primary:hover {
  background-color: #0d6efd; 
  color: white; 
}

.is-invalid {
  border-color: red !important;
}
