<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar 
    [isOpen]="isSidebarOpen"
    (sectionChange)="onSectionChange($event)">
  </app-sidebar>

  <!-- Main Content -->
  <div class="flex-grow-1">
    <app-topbar (click)="onToggleSidebar()"></app-topbar>

    <div class="p-4">
      <ng-container [ngSwitch]="selectedSection">
        <app-recipy *ngSwitchCase="'recipy'"></app-recipy>
        <h3 *ngSwitchCase="'dashboard'">Dashboard Content</h3>
        <h3 *ngSwitchCase="'role-master'">Role Master Content</h3>
        <h3 *ngSwitchCase="'manage-user'">Manage User Content</h3>
        <app-getmaterials *ngSwitchCase="'getmaterials'"></app-getmaterials>
        <h3 *ngSwitchCase="'projects'">Projects Content</h3>
        <h3 *ngSwitchCase="'testing'">Testing Content</h3>
        <h3 *ngSwitchCase="'master-tables'">Master Tables Content</h3>
      </ng-container>
    </div>
  </div>
</div>
