<div class="container py-4 for-margin ">
    <h4 class="fw-bold mb-3">Role Master</h4>
  
    <!-- Add + Search -->
    <!-- <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap"> -->
    <div class="d-flex justify-content-start align-items-center mb-3 flex-wrap">
      <button class="mr-3 add-btn me-4" (click)="openAddRoleDialog()">
        <i class="fas fa-plus me-2"></i> Add Role
      </button>
  
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search roles">
      </mat-form-field>
    </div>
  
    <!-- Table -->
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort matSortStart="desc" matSortDisableClear="true" disableClear="true" class="table table-bordered table-striped table-hover">
        <!-- Role ID -->
        <!-- <ng-container matColumnDef="roleId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Role ID</th>
          <td mat-cell *matCellDef="let role">{{ role.roleId }}</td>
        </ng-container> -->
  
        <!-- Role Name -->
        <ng-container matColumnDef="roleName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header >Roles</th>
          <td mat-cell *matCellDef="let role">{{ role.roleName }}</td>
        </ng-container>
  
        <!-- Description -->
        <!-- <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let role">{{ role.description }}</td>
        </ng-container> -->
  
        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let role">
            <i class="fas fa-pencil-alt me-3 action-icon" (click)="openEditRoleDialog(role)"></i>
            <i class="fas fa-trash-alt action-icon text-danger" (click)="deleteRole(role.roleId)"></i>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  