<h2 mat-dialog-title>{{ isEditMode ? 'Update Material' : 'New Material' }}</h2>
<mat-hint class="global-hint">All fields marked with an asterisk (*) are required</mat-hint>

<form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Material Name</mat-label>
        <input matInput formControlName="materialName" maxlength="99"/>

        <mat-error *ngIf="materialForm.get('materialName')?.hasError('nameNotUnique')">
          Material name already exist.
        </mat-error>
      </mat-form-field>
      

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Storage Location</mat-label>
        <mat-select formControlName="storageLocationId">
          <mat-option value="">--- Select ---</mat-option>
          <mat-option *ngFor="let location of storageLocations" [value]="location.id">
            {{ location.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Manufacturer*</mat-label>
        <mat-select formControlName="manufacturerId">
          <mat-option [value]="0">--- Select ---</mat-option>
          <mat-option *ngFor="let m of manufacturers" [value]="m.contactId">
            {{ m.contactName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Supplier*</mat-label>
        <mat-select formControlName="supplierId">
          <mat-option [value]="0">--- Select ---</mat-option>
          <mat-option *ngFor="let s of suppliers" [value]="s.contactId">
            {{ s.contactName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Additive*</mat-label>
        <mat-select formControlName="additiveId">
          <mat-option [value]="0">--- Select ---</mat-option>
          <mat-option *ngFor="let a of additives" [value]="a.id">
            {{ a.additiveName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Main Polymer*</mat-label>
        <mat-select formControlName="mainPolymerId">
          <mat-option [value]="0">--- Select ---</mat-option>
          <mat-option *ngFor="let p of mainPolymers" [value]="p.id">
            {{ p.polymerName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Density [g/cm³]</mat-label>
        <input matInput type="number" formControlName="density" min="0" step="0.01" />
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Quantity [Kg]</mat-label>
        <input matInput type="number" formControlName="quantity" min="0" max="20" />
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Test Method</mat-label>
        <input matInput formControlName="testMethod" />
      </mat-form-field>

      <mat-form-field class="half-width" appearance="outline">
        <mat-label>MVR/MFR </mat-label>
        <mat-select formControlName="mvrMfrId">
          <mat-option value="">--- Select ---</mat-option>
          <mat-option *ngFor="let item of mvrMfrTypes" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="file-upload-outline half-width">
        <label class="file-label">TDS (Upload PDF)</label>
        <div class="custom-file-box">
          <input type="file" (change)="onFileSelected($event, 'tdsFilePath')" />
        </div>
        <!-- <mat-hint>{{ materialForm.get('tdsFilePath')?.value }}</mat-hint> -->
      </div>
      

     
      <div class="file-upload-outline half-width">
        <label class="file-label">MSDS (Upload PDF)</label>
        <div class="custom-file-box">
          <input type="file" (change)="onFileSelected($event, 'msdsFilePath')" />
        </div>
        <!-- <mat-hint>{{ materialForm.get('msdsFilePath')?.value }}</mat-hint> -->
      </div>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit">{{ isEditMode ? 'Update' : 'Save' }}</button>
    <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
  </div>
</form>
