<h2 mat-dialog-title>{{ isEditMode ? 'Update Material' : 'Add Material' }}</h2>
<mat-hint class="global-hint">Note:- (All mandatory fields are marked with *)</mat-hint>

<form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Material Name</mat-label>
        <input matInput formControlName="materialName" placeholder="Enter Material Name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Storage Location</mat-label>
        <mat-select formControlName="storageLocation">
          <mat-option *ngFor="let location of storageLocations" [value]="location.value">
            {{ location.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Manufacturer</mat-label>
        <mat-select formControlName="manufacturerId">
          <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.contactId">
            {{ manufacturer.contactName }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Supplier</mat-label>
        <mat-select formControlName="supplierId">
          <mat-option *ngFor="let supplier of suppliers" [value]="supplier.contactId">
            {{ supplier.contactName }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Additive</mat-label>
        <mat-select formControlName="additiveId">
          <mat-option *ngFor="let additive of additives" [value]="additive.id">
            {{ additive.additiveName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Main Polymer</mat-label>
        <mat-select formControlName="mainPolymerId">
          <mat-option *ngFor="let polymer of mainPolymers" [value]="polymer.id">
            {{ polymer.polymerName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Density</mat-label>
        <input matInput type="number" formControlName="density">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" formControlName="quantity">
      </mat-form-field>
    


    <mat-form-field appearance="outline" class="half-width">
      <mat-label>Test Method</mat-label>
      <input matInput formControlName="testMethod">
    </mat-form-field>


    <mat-form-field appearance="outline" class="half-width">
      <mat-label>MVR/MFR Type</mat-label>
      <mat-select formControlName="MVR_MFR">
        <mat-option *ngFor="let type of mvrMfrTypes" [value]="type.value">
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="half-width">
      <mat-label>TDS File Path</mat-label>
      <input matInput formControlName="tdsFilePath">
    </mat-form-field>

    <mat-form-field appearance="outline" class="half-width">
      <mat-label>MSDS File Path</mat-label>
      <input matInput formControlName="msdsFilePath">
    </mat-form-field>

    
  </div>
  <div class="row">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </div>
</div>
  <!-- 
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Material Type</mat-label>
        <mat-select formControlName="materialsType">
          <mat-option *ngFor="let type of materialTypes" [value]="type.value">
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

  

      <mat-dialog-actions align="end">
        <button mat-raised-button  color="primary" type="button" (click)="onCancel()">
          Cancel
        </button>
        <button mat-raised-button color="primary" type="submit">
          {{ isEditMode ? 'Update Material' : 'Add Material' }}
        </button>
      </mat-dialog-actions>
      
</form>