<div class="p-4" style="max-height: 80vh; overflow-y: auto;  scrollbar-width: none;
  -ms-overflow-style: none; ">
<h2 mat-dialog-title class="mb-4">{{ isEdit ? 'Update Recipe' : 'New Recipe' }}</h2>
  <mat-hint class="global-hint mb-3 text-muted"
    >All fields marked with an asterisk (*) are required.</mat-hint
  >

  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Recipe Name</mat-label>
            <input matInput formControlName="productName" required />
            <mat-error
              *ngIf="recipeForm.get('productName')?.hasError('required')"
              >Product Name is required</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Project Number</mat-label>
            <mat-select formControlName="projectId" required>
              <mat-option
                *ngFor="let project of projects"
                [value]="project.projectId"
              >
                {{ project.projectNumber }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="recipeForm.get('projectId')?.hasError('required')"
              >Project Number is required</mat-error
            >
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Additive</mat-label>
            <mat-select formControlName="additiveId">
              <mat-option
                *ngFor="let additive of additives"
                [value]="additive.id"
              >
                {{ additive.additiveName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Main Polymer</mat-label>
            <mat-select formControlName="mainPolymerId">
              <mat-option
                *ngFor="let polymer of mainPolymers"
                [value]="polymer.id"
              >
                {{ polymer.polymerName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Comments</mat-label>
            <textarea matInput formControlName="comments" rows="3"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- <div formArrayName="components" class="mt-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <label class="fw-bold fs-5">Components</label>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="addComponent()">Add Component</button>
      </div>

      <div *ngFor="let comp of components.controls; let i = index" [formGroupName]="i">
        <div class="row mb-3 g-2">
          <div class="col-md-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Component</mat-label>
              <mat-select formControlName="componentId" required>
                <mat-option *ngFor="let c of availableComponents" [value]="c.id">
                  {{ c.componentName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

         

          <div class="col-md-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>WT%</mat-label>
              <input matInput type="number" formControlName="wtPercent" />
              <mat-error *ngIf="comp.get('wtPercent')?.hasError('required')">
                WT% is required
              </mat-error>
              <mat-error *ngIf="comp.get('wtPercent')?.hasError('percentageRange')">
                WT% must be between 0 and 100
              </mat-error>
            </mat-form-field>
          </div>

         
          <div class="col-md-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>VOL%</mat-label>
              <input matInput type="number" formControlName="valPercent" />
              <mat-error *ngIf="comp.get('valPercent')?.hasError('required')">
                VOL% is required
              </mat-error>
              <mat-error *ngIf="comp.get('valPercent')?.hasError('percentageRange')">
                VOL% must be between 0 and 100
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Density</mat-label>
              <input matInput type="number" formControlName="density" />
              <mat-error *ngIf="comp.get('density')?.hasError('percentageRange')">
                WT% must be between 0 and 100
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-2">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Type</mat-label>
              <mat-select formControlName="typeId">
                <mat-option *ngFor="let type of componentTypes" [value]="type.id">
                  {{ type.type }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-2 d-flex align-items-center">
            <mat-checkbox formControlName="mp">MP</mat-checkbox>
            <mat-checkbox formControlName="mf" class="ms-2">MF</mat-checkbox>
          </div>

          <div class="col-md-1 d-flex align-items-center justify-content-center">
            <button mat-icon-button color="warn" (click)="deleteComponent(i)" type="button"
              aria-label="Delete component">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>  -->
    <div formArrayName="components" class="mt-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <label class="fw-bold fs-5">Components</label>
        <button
          type="button"
          class="btn btn-outline-primary btn-sm"
          (click)="addComponent()"
        >
          Add Component
        </button>
      </div>


      <div class="row fw-bold text-center mb-2">
        <div class="col-md-2">Component</div>
        <div class="col-md-2">WT%</div>
        <div class="col-md-2">VOL%</div>
        <div class="col-md-1">Density</div>
        <div class="col-md-2">Type</div>
        <div class="col-md-2">MP / MF</div>
        <div class="col-md-1">Delete</div>
      </div>

 
      <div
        *ngFor="let comp of components.controls; let i = index"
        [formGroupName]="i"
        class="row align-items-center mb-2"
      >

        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="componentId" required>
              <mat-option *ngFor="let c of availableComponents" [value]="c.id">
                {{ c.componentName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              min="0"
              max="100"
              step="0.1"
              type="number"
              formControlName="wtPercent"
            />
            
          </mat-form-field>
        </div>


        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              min="0"
              max="100"
              step="0.1"
              type="number"
              formControlName="valPercent"
            />
            
          </mat-form-field>
        </div>

        <div class="col-md-1">
          <mat-form-field appearance="outline" class="w-100">
            <input
              matInput
              min="0"
              max="25"
              step="0.01"
              type="number"
              formControlName="density"
            />
          </mat-form-field>
        </div>


        <div class="col-md-2">
          <mat-form-field appearance="outline" class="w-100">
            <mat-select formControlName="typeId">
              <mat-option *ngFor="let type of componentTypes" [value]="type.id">
                {{ type.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="col-md-2 d-flex align-items-center checkboxgrp">
          <mat-checkbox formControlName="mp">MP</mat-checkbox>
          <mat-checkbox formControlName="mf">MF</mat-checkbox>
        </div>
  
        <div class="col-md-1 text-center checkboxgrp">
          <button
            mat-icon-button
            color="warn"
            (click)="deleteComponent(i)"
            type="button"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- <div class="card p-3">
    <table class="table table-bordered table-sm text-center align-middle">
      <thead class="table-light">
        <tr>
          <th>Component Name</th>
          <th>wtPercentage [%]</th>
          <th>volPercentage [%]</th>
          <th>density</th>
          <th>MF</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody formArrayName="components">
        <tr *ngFor="let row of availableComponents; let i = index" [formGroupName]="i">
          <td>
            <select class="form-select" formControlName="name">
              <option value="" disabled selected>-- Select --</option>
              <option *ngFor="let option of availableComponents" [value]="option.id">
                {{ option.componentName }}
              </option>
            </select>

          </td>

          <td>
            <input type="number" class="form-control" formControlName="wtPercentage" min="0" max="100"/>
          </td>
          <td>
            <input type="number" class="form-control" formControlName="volPercentage" min="0" max="100"/>
          </td>
          <td><mat-checkbox type="checkbox" formControlName="MF" /></td>
          <td><mat-checkbox type="checkbox" formControlName="SecondF" /></td>
          <td><mat-checkbox type="checkbox" formControlName="SF" /></td>
          <td><mat-checkbox type="checkbox" formControlName="A" /></td>
          <td><mat-checkbox type="checkbox" formControlName="B" /></td>
          <td><mat-checkbox type="checkbox" formControlName="C" /></td>
          <td><mat-checkbox type="checkbox" formControlName="D" /></td>
          <td><mat-checkbox type="checkbox" formControlName="E" /></td>
          <td><mat-checkbox type="checkbox" formControlName="F" /></td>

          <td>
            <button type="button" class="btn btn-outline-danger" (click)="removeComponent(i)">
              <i class="fas fa-trash-alt action-icon"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between">
      <div><strong>Total [%]: {{ getTotalShare() }}</strong></div>
      <button type="button" class="btn btn-primary btn-sm" (click)="addComponent()">Add new component</button>
    </div>
  </div> -->

    <div class="mt-4 d-flex justify-content-end gap-2">
      <button mat-raised-button type="submit" color="primary">Submit</button>
      <button
        mat-stroked-button
        type="button"
        color="warn"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
