<div class="container">
    <h4 class="fw-bold">Compounding/Injection </h4>

    <div class="d-flex align-items-center justify-content-between">
        <div class="w-100">
            <mat-form-field appearance="outline" class="search-field">
                <mat-label>Search for Name</mat-label>
                <input matInput placeholder="Search" minlength="1">
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button class="me-5 add-material-btn w-100">
                <i class="fas fa-plus me-2"></i>Add Compounding
            </button>
        </div>
    </div>

</div>