.sidebar {
    transition: width 0.3s ease;
    overflow: hidden;
    background: #e9e9e9;
    color: #000;
    scrollbar-width: none;
    position: fixed;
    top: 64px;
    overflow-y: auto !important;

    z-index:999;
    /* -ms-overflow-style: none; */
    scrollbar-width: none;
    bottom: 0;
    -ms-overflow-style: none;
  overflow-y: auto;
  }

sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-expanded {
  width: 200px;
}

.sidebar-collapsed {
  width: 90px;
}


.hover-effect:hover {
  background-color: #bfccf4 !important; 
  cursor: pointer;
}

i {
  min-width: 20px;
  font-size: 18px;
}

.active-link {
  background-color: #bfccf4; 
  /* border-radius: 8px; */
}

.nav-item {
  list-style: none;
  margin-bottom: 8px;
}

.nav-link {
  text-decoration: none;
  color: #1f2937; 
  padding: 10px 5px;
  border-radius: 10px;
  white-space: normal; 
  /* word-break: break-word; */
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #bfccf4;
}