.sidebar {
    transition: width 0.3s ease;
    overflow: hidden;
    background: linear-gradient(135deg, #d4fc79 0%, #96e6a1 100%);
    color: #000;
  }
  
  .sidebar-expanded {
    width: 220px;
  }
  
  .sidebar-collapsed {
    width: 90px;
  }
  

  .hover-effect:hover {
    background-color: rgba(255, 96, 4, 0.1);
    cursor: pointer;
  }
  
  i {
    min-width: 20px;
    font-size: 18px;
  }
  