<div [ngClass]="{ 'sidebar-collapsed': !isOpen, 'sidebar-expanded': isOpen }" class="sidebar vh-100">
  <ul class="list-unstyled m-0 p-4">
    
      <li class="d-flex align-items-center fw-bold mb-3 p-2 hover-effect" (click)="emitSection('dashboard')">
          <i class="fas fa-tachometer-alt me-3"></i> 
          <span *ngIf="isOpen">Dashboard</span>
      </li>

      <li class="d-flex align-items-center fw-bold mb-3 p-2 hover-effect" (click)="emitSection('recipy')">
          <i class="fas fa-utensils me-3"></i> 
          <span *ngIf="isOpen">Recipe</span>
      </li>

      <li class="d-flex align-items-center fw-bold mb-3 p-2 hover-effect" (click)="emitSection('role-master')">
          <i class="fas fa-users-cog me-3"></i> 
          <span *ngIf="isOpen">Role Master</span>
      </li>

      <li class="d-flex align-items-center fw-bold mb-3 p-2 hover-effect" (click)="emitSection('manageusers')">
          <i class="fas fa-user-cog me-3"></i> 
          <span *ngIf="isOpen">Manage User</span>
      </li>

      <li class="d-flex align-items-center fw-bold mb-3 p-2 hover-effect" (click)="emitSection('getmaterials')">
          <i class="fas fa-box-open me-3"></i> 
          <span *ngIf="isOpen">Materials</span>
      </li>

      <li class="d-flex align-items-center fw-bold mb-3 p-2 hover-effect" (click)="emitSection('getproject')">
          <i class="fas fa-project-diagram me-3"></i> 
          <span *ngIf="isOpen">Projects</span>
      </li>

      <li class="d-flex align-items-center fw-bold mb-3 p-2 hover-effect" (click)="emitSection('testing')">
          <i class="fas fa-vial me-3"></i> 
          <span *ngIf="isOpen">Testing</span>
      </li>

      <li class="d-flex align-items-center justify-content-between fw-bold mb-3 p-2 hover-effect">
        <div class="d-flex align-items-center" (click)="emitSection('contacts')">
          <i class="fas fa-vial me-3"></i> 
          <span *ngIf="isOpen">Contacts</span>
        </div>
      
        <!-- <mat-icon *ngIf="isOpen" class="text-success" (click)="openAddContactDialog($event)">person_add</mat-icon> -->
      </li>

      <li class="d-flex align-items-center justify-content-between fw-bold mb-3 p-2 hover-effect">
        <div class="d-flex align-items-center" (click)="emitSection('get-all-additives')">
          <i class="fas fa-vial me-3"></i> 
          <span *ngIf="isOpen">Additives</span>
        </div>
      
        <!-- <mat-icon *ngIf="isOpen" class="text-success" (click)="openAddContactDialog($event)">person_add</mat-icon> -->
      </li>
      <li class="d-flex align-items-center justify-content-between fw-bold mb-3 p-2 hover-effect">
        <div class="d-flex align-items-center" (click)="emitSection('all-main-polymers')">
          <i class="fas fa-vial me-3"></i> 
          <span *ngIf="isOpen">MainPolymer</span>
        </div>
      
        <!-- <mat-icon *ngIf="isOpen" class="text-success" (click)="openAddContactDialog($event)">person_add</mat-icon> -->
      </li>
      
  </ul>
</div>
