<!-- <div [ngClass]="{ 'sidebar-collapsed': !isOpen, 'sidebar-expanded': isOpen }" class="sidebar vh-100">
  <ul class="list-unstyled m-0 p-4">
    <li *ngFor="let menu of allowedMenus" class="fw-bold mb-2">
    
      <div
        class="d-flex align-items-center justify-content-between hover-effect p-2"
        [ngClass]="{ 'active-link': isActive(menu) }"
        (click)="menu.children?.length ? toggleExpand(menu.id) : navigation(menu.route)"
      >
        <div class="d-flex align-items-center">
          <i class="fas fa-cubes me-3"></i>
          <span *ngIf="isOpen">{{ menu.menuName }}</span>
        </div>
        <div *ngIf="menu.children?.length && isOpen">
          <i
            class="fas"
            [ngClass]="{
              'fa-chevron-down': expandedMenus.has(menu.id),
              'fa-chevron-right': !expandedMenus.has(menu.id)
            }"
          ></i>
        </div>
      </div>

      
      <ul *ngIf="menu.children?.length && expandedMenus.has(menu.id)" class="list-unstyled ps-4">
        <li
          *ngFor="let child of menu.children"
          class="d-flex align-items-center hover-effect p-2"
          [ngClass]="{ 'active-link': isActive(child) }"
          (click)="navigation(child.route)"
        >
          <i class="fas fa-circle-notch me-3 small-icon"></i>
          <span *ngIf="isOpen">{{ child.menuName }}</span>
        </li>
      </ul>
    </li>
  </ul>
</div> -->

<div [ngClass]="{ 'sidebar-collapsed': !isOpen, 'sidebar-expanded': isOpen }" class="sidebar vh-100">
  <ul class="list-unstyled m-0 p-4">
    <li *ngFor="let menu of allowedMenus" class="fw-bold mb-2">
     
      <div class="d-flex align-items-center justify-content-between hover-effect p-2"
        [ngClass]="{ 'active-link': isActive(menu) || (activeMenu === menu.menuName) }"
        (click)="menu.children?.length ? toggleExpand(menu.id) : navigation(menu.route)">
        <div class="d-flex align-items-center">
          <i class="fas fa-cubes me-3"></i>
          <span *ngIf="isOpen">{{ menu.menuName }}</span>
        </div>
        <div *ngIf="menu.children?.length && isOpen">
          <i class="fas" [ngClass]="{
              'fa-chevron-down': expandedMenus.has(menu.id),
              'fa-chevron-right': !expandedMenus.has(menu.id)
            }"></i>
        </div>
      </div>

  
      <ul *ngIf="menu.children?.length && expandedMenus.has(menu.id)" class="list-unstyled ps-4">
        <li *ngFor="let child of menu.children" class="d-flex align-items-center hover-effect p-2"
          [ngClass]="{ 'active-link': isActive(child) }" (click)="navigation(child.route)">
          <i class="fas fa-circle-notch me-3 small-icon"></i>
          <span *ngIf="isOpen">{{ child.menuName }}</span>
        </li>
      </ul>
    </li>
  </ul>
</div>