<!-- <nav class="navbar navbar-dark bg-dark px-3 d-flex justify-content-between">
  <div class="d-flex align-items-center">
    <button class="topbar btn btn-outline-light rounded me-3" (click)="onToggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <div class="dropdown">
    <button 
      class="btn btn-outline-light rounded-circle d-flex align-items-center justify-content-center" 
      id="profileDropdown" 
      data-bs-toggle="dropdown" 
      aria-expanded="false"
      style="width: 40px; height: 40px;"
    >
      <i class="fas fa-user"></i>
    </button>

    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
      <li class="dropdown-item-text text-center fw-bold">{{ userName }}</li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item text-danger text-center" href="#" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav> -->


<nav class="navbar navbar px-3 d-flex justify-content-between shadow-lg sticky-top">
  
  <div class="d-flex justify-content-center align-items-center">
    <div>
      <h4 class="text-white">
        Data Management
      </h4>
    </div>
    <button 
      class="topbar btn btn-outline-light rounded me-3" 
      (click)="onToggleSidebar()" 
      style="border: 2px solid #fff; padding: 8px 12px;">
      <i class="fas fa-bars"></i>
    </button>
  </div>

 
  <div class="dropdown">
    <button 
      class="btn btn-outline-light rounded-circle d-flex align-items-center justify-content-center" 
      id="profileDropdown" 
      aria-expanded="false"
      (click)="toggleDropdown($event)"
      style="width: 40px; height: 40px; position: relative; right: 90px; border: 2px solid #fff;">
      <i class="fas fa-user"></i>
    </button>

    
    <ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="profileDropdown" 
        style="border-radius: 8px; background-color: #343a40; border: 2px solid #444;">
      <li class="dropdown-item-text text-center fw-bold text-light">{{ userName }}</li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item text-danger fw-bold text-center" href="#" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

