.container{
    padding: 5%;
}

.btnFix{
    position: sticky;
  bottom: 0;
  background-color: white; /* prevents overlap with form */
  z-index: 10;
  padding-top: 8px;
  padding-bottom: 8px;
}

.selectAllChkbox{
  float: right;
}

.verticalLine{
  border-left: 1px solid;
}

.menuNameList{
  /* background-color: rgb(167, 164, 164); */
  border: 5px solid white;
  width: 25%;
  /* padding: 5px; */
  /* text-align: center; */
}

table thead tr {
  border-bottom: 2px solid #ccc; /* or any color you prefer */
}


table{
  /* border: 2px solid black; */
}

table th, table td {
  padding: 8px;
  vertical-align: middle;
}

.verticalLine {
  text-align: center;
}

th{
  text-align: center;
}