.container{
    padding: 5%;
}

.btnFix{
    position: sticky;
  bottom: 0;
  background-color: white; /* prevents overlap with form */
  z-index: 10;
  padding-top: 8px;
  padding-bottom: 8px;
}

.selectAllChkbox{
  float: right;
}

.verticalLine{
  border-left: 1px solid;
}

/* .menuNameList{ */
  /* background-color: rgb(167, 164, 164); */
  /* border: 5px solid white;
  width: 25%; */
  /* padding: 5px; */
  /* text-align: center; */
/* } */

th, tr{
  border: 1px solid black;
}

table thead th {
  border-bottom: 1px solid black; /* or any color you prefer */
}

div.container::-webkit-scrollbar-thumb{
  border-radius: 16px;
}

table th, table td {
  padding: 8px;
  vertical-align: middle;
}

.verticalLine {
  text-align: center;
}

th{
  text-align: center;
}

