<h2 mat-dialog-title>{{ isEditMode ? 'Update Contact' : 'New Contact' }}</h2>
<form *ngIf="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <mat-hint class="global-hint">All fields marked with an asterisk (*) are required</mat-hint>

  <div mat-dialog-content>
    <div>
    <div class="row">
      <!-- <mat-label> Name</mat-label> -->

      <div class="half-width" style="padding: 20px">
        <label class="mat-label" style="margin-bottom: 4px; display: block;">Contact Type</label>
        <mat-radio-group formControlName="contactType">
          <mat-radio-button [value]="1" class="mr-3">Manufacturer</mat-radio-button>
          <mat-radio-button [value]="2" class="mr-3">Supplier</mat-radio-button>
          <mat-radio-button [value]="3">Both</mat-radio-button>
        </mat-radio-group>
        
      </div>
    </div>
  </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Contact Name</mat-label>
        <input matInput formControlName="contactName" placeholder="Enter contact name" (keypress)="allowOnlyLetters($event)" maxlength="20"/>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-label>Address</mat-label>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label> Line 1</mat-label>

        <input matInput formControlName="addressLine1" placeholder="Enter address line 1" maxlength="49"/>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label> Line 2</mat-label>
        <input matInput formControlName="addressLine2" placeholder="Enter address line 2"  maxlength="49"/>
      </mat-form-field>
    </div>

    <div class="row" >
      <!-- <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <mat-select formControlName="state" (selectionChange)="onStateChange($event.value)">
          <mat-option value="">--- Select ---</mat-option>

          <mat-option *ngFor="let state of states" [value]="state.value">
            {{ state.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select formControlName="city" [disabled]="!filteredCities.length">
          <mat-option value="">--- Select ---</mat-option>

          <mat-option *ngFor="let city of filteredCities" [value]="city">
            {{ city }}
          </mat-option>
          <mat-option value="other">Other</mat-option>
       
        </mat-select>
      </mat-form-field>       -->
      <mat-form-field appearance="outline">
    <mat-label>State</mat-label>
    <mat-select formControlName="stateId">
      <mat-option value="">--- Select ---</mat-option>

      <mat-option *ngFor="let state of states"  [value]="state.stateId">{{ state.statesName }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <mat-select formControlName="cityId">
      <mat-option value="">--- Select ---</mat-option>

      <mat-option *ngFor="let city of cities" [value]="city.cityId">{{ city.cityName }}</mat-option>
      <!-- <mat-option *ngIf="cities.length === 0" [disabled]="!contactForm.get('stateId')?.value"  value="other">Other</mat-option> -->

    </mat-select>
  </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Zip</mat-label>
        <input matInput  formControlName="zip" placeholder="Enter zip code" maxlength="6"  (keypress)="allowOnlyNumber($event)" />
        <mat-error *ngIf="contactForm.get('zip')?.hasError('duplicate')">
          This ZIP code is already in use.
        </mat-error>
      </mat-form-field>

      
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Phone</mat-label>
        <input matInput type="tel" formControlName="phone" placeholder="Enter phone" maxlength="10"  (keypress)="allowOnlyNumber($event)" />
        <mat-error *ngIf="contactForm.get('phone')?.hasError('duplicate')">
          This phone number is already in use.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Enter email" />
      </mat-form-field>

      
    </div>
  </div>

  <mat-dialog-actions align="end" class="buttons">
    <button mat-raised-button class="primary" type="submit">
      {{ isEditMode ? 'Update' : 'Save' }}
    </button>
    <button  mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    
  </mat-dialog-actions>
</form>
